<h1>Profile for <%=current_user.username %></h1>


<% if current_user.profile_image.attached?%>
        <%= image_tag(current_user.profile_image, style:"height: 200px; border-radius: 50%;")%>
    <% else %>
        <%= image_tag 'https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/13/1490989105-twitter1.jpg?resize=768:*', style:"height: 30px; border-radius: 50%; padding-right: 5px;"%>
    <% end %>


<ul>
    <%= render collection: @profile.posts, partial: "posts/post"%>
</ul>

<%= link_to "Back", root_path, class:"btn btn-secondary btn-sm" %>
