<div id="<%= dom_id(post)%>">
    <div>
        <p class="text-muted fw-lighter">
            <%= profile_image(post.user) {style:"max-height: 5px; border-radius: 50%;"}%>
        @<%= link_to post.user.username, profile_path(post.user), data: { turbo: false }%></p>
        <p><%= post.body %></p>
        <div>
        <%= render "posts/controls", post: post %>    
        </div>
        
        <hr>
    </div>
</div>
